.new-section {
    width: 100%;
    margin: 0 auto;
    text-align: left;

  }
  
  .new-section h1 {
    font-size: 2.5em;
    margin-bottom: 1em;
  }
  
  .filters-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin: 10px;
    flex-wrap: wrap;
  }
  .new-section p {
    margin-bottom: 2em;
  }
  
  .filters {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    gap: 15px;
  }
  h6{
    padding: 8px;
    border-right: 1px solid rgb(156, 156, 156);
    font-size: small;
  }
  .filter-box {
    display: flex;
    align-items: center;
    border-right: 1px solid rgb(155, 155, 155);
    padding-right: 20px;
  }
  
  .filter-box select {
    padding: 0.5em 1em;
    border: 1px solid #ccc;
    background-color: rgb(238, 238, 238);
    border-radius: 4px;
    margin-right: 1em;
  }
  .filter-box select option{
    font-size: 1rem;
    color: #464646;
  }
  
  .filter-box button {
    padding: 0.5em 1em;
    border: 1px solid #ccc;
    background-color: rgb(238, 238, 238);
    border-radius: 5px;
    cursor: pointer;
  }
  
  .new-section hr {
    margin: 2em 0;
  }
  
  